<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head"></head>
<body>
<h3>Remove blog</h3>
<p>
    <a th:href="@{/blogs}">
        Back to blog list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/blogs/delete}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <table>
            <tr>
                <td><label>Title</label></td>
                <td>
                    <input type="text" th:field="*{title}"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Author</label>
                </td>
                <td>
                    <input type="text" th:field="*{author}"/>
                </td>
            </tr>
            <tr>
                <td>
                     <label>Description</label>
                </td>
                <td>
                    <input type="text" th:field="*{description}"/>
                </td>
            </tr>
            <tr th:rowspan="2">
                <input type="submit" value="Remove" />
            </tr>
        </table>
    </form>
</div>
<footer th:replace="layouts/layout :: footer(${#dates.year(#dates.createNow())})"></footer>
</body>
</html>