<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Furama Hotel</title>
</head>
<body>
<footer th:fragment="footer (year)">
    Furama &copy; [[${year}]] Created by <a href="https://www.facebook.com/nhduy154">Nguyen Hoang Duy</a>
</footer>
</body>
</html>
