<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head sec:authorize="hasRole('ADMIN')" th:replace="layouts/admin-layout :: head"></head>
<head sec:authorize="hasRole('USER')" th:replace="layouts/layout :: head"></head>
<body>
<nav sec:authorize="hasRole('ADMIN')" class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Furama</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav sec:authorize="hasRole('ADMIN')" th:replace="layouts/admin-layout :: admin-nav"></nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <a th:href="@{/admin}">Return Admin Home</a>
            <p class="text-success" th:if="${message}">Edit facility successfully!</p>
            <div class="container">
                <div class="d-flex justify-content-center h-100">
                    <div class="card">
                        <p class="card-header text-primary">Edit facility information</p>
                        <div class="card-body">
                            <form th:action="@{/facility/edit}" th:object="${facility}" method="post" novalidate="novalidate">
                                <input type="hidden" th:value="*{id}" th:field="*{id}">
                                <input type="hidden" th:value="*{status}" th:field="*{status}">
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Name</span>
                                    </div>
                                    <input type="text" th:field="*{name}" class="form-control"  placeholder="First Name">
                                </div>
                                <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                                <!--                    Price-->
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Price</span>
                                    </div>
                                    <input type="text" th:field="*{price}" class="form-control" placeholder="Price">
                                </div>
                                <p class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
                                <!--                   Area -->
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Area</span>
                                    </div>
                                    <input type="text" th:field="*{area}" class="form-control" placeholder="area password">
                                </div>
                                <p class="text-danger" th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></p>
                                <!--                     Floor-->
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Floor</span>
                                    </div>
                                    <input type="text" th:field="*{floor}" class="form-control" placeholder="floor">
                                </div>
                                <p class="text-danger" th:if="${#fields.hasErrors('floor')}" th:errors="*{floor}"></p>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Max People</span>
                                    </div>
                                    <input type="text" th:field="*{maxPerson}" class="form-control" placeholder="maxPerson">
                                </div>
                                <p class="text-danger" th:if="${#fields.hasErrors('maxPerson')}" th:errors="*{maxPerson}"></p>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Type</span>
                                    </div>
                                    <select th:field="*{facilityType.id}"  class="form-control">
                                        <option th:each="item: ${facilityTypes}" th:text="${item.name}" th:value="${item.id}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Update" class="btn float-right btn-primary">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>