<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layouts/layout :: head"></head>
<header>
    <div th:replace="layouts/layout :: header1"></div>
</header>
<body>
<div class="d-flex justify-content-center">
    <img style="-webkit-user-select: none;margin: auto;cursor: zoom-in;"
         src="https://open.mapquestapi.com/staticmap/v5/map?key=RPDQQG62iTpqUAAF6S0NePH2hJztVNS6&locations=16.0784065,108.2096478&size=600,480&defaultMarker=marker-num"
         width="680" height="400" alt="Not found">
</div>
<div>
    <p class="d-flex justify-content-center font-weight-bold bg-info text-white">Address: Số 295 Nguyễn Tất Thành, Thanh Bình, Hải Châu, Đà Nẵng</p>
</div>
</body>
</html>