select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}
input:required, input:out-of-range, select:required {
    background-image: url(https://cdn.chilindo.com/gfx/checkmark-green.png);
    background-position: right center;
    background-repeat: no-repeat;
}

input:invalid, select:invalid {
    background-image: none;
}
